<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StockDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.entity.StockData">
        <id column="id" property="id" />
        <result column="stock_code" property="stockCode" />
        <result column="stock_name" property="stockName" />
        <result column="stock_latestPrice" property="stockLatestprice" />
        <result column="quote_change" property="quoteChange" />
        <result column="main_inflow" property="mainInflow" />
        <result column="main_inflow_account" property="mainInflowAccount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stock_code, stock_name, stock_latestPrice, quote_change, main_inflow, main_inflow_account
    </sql>

</mapper>
